body{
  font-family: "Space Grotesk";
}
.container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}
.nav {
  font-family: "Space Grotesk";
  margin: -8;
  padding: 0;
  display: flex;
  background-color: #df3b56;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}
.hamburger .line {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.nav__link {
  z-index: 1;
  position: fixed;
  text-align: center;
  width: 80%;
  height: 100%;
  top: 9.7vh;
  left: 30%;
  background-color: #df3b56;
}
.nav__link a {
  font-family: "Space Grotesk";
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px 0 25px;
}
.nav__link a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  font-size: small;
  transition: 0.5s;
}
.hide {
  display: none;
}


@media screen and (min-width: 600px) {
    body{
      font-family: "Space Grotesk";
    }
    .nav a{
      font-family: "Space Grotesk";
    }
    .nav img{
        margin-left: 7vw;
    }
    .nav__link {
        position: sticky;
        display: block;
        position: static;
        width: auto;
        margin-right: 150px;
        background: none;
    }
    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }
    .hamburger {
        display: none;
    }
    .hero{
      display: flex;
    }
    .hero h6{
      font-size: 50px;
      margin-top: 2vw;
    }
    .lefthero{
      width: 619px;
      height: 174px;
      margin-left: 7vw;
      margin-top: 2vw;
      font-family: 'Space Grotesk';
      font-weight: 500;
      font-size: 64px;
      line-height: 82px;
    }
    .lefthero img{
      margin-left: 3vw;
    }
    .lefthero .tagline{
      font-size: 15px;
      line-height: 20px;
      margin-top: -8vw;
    }
    .lefthero .leftbuttons .join{
      color: white;
      text-decoration: none;
      position: relative;
      font-size: 1.5vw;
      margin-top: 1vw;
      background-color: #df3b56;
      border-radius: 10px;
      padding: 14px;
      height: 42px;
      width: 149px;
      padding: 8px 23px 8px 23px;
    }
    .lefthero .leftbuttons .learn{
      color: rgb(0, 0, 0);
      text-decoration: none;
      position: relative;
      font-size: 1.5vw;
      margin-top: 1vw;
      border-radius: 10px;
      padding: 14px;
      height: 42px;
      width: 149px;
      padding: 8px 23px 8px 23px;
    }
    .lefthero .members{
      display: flex;
      gap: 1vw;
      margin-left: -3vw;
      margin-top: 2vw;
    }
    /*.righthero img{
      height: 90vh;
    }*/
    .members h6{
      margin-top: -2vh;
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
    }
    .members img{
      width: 200px;
      height: 60px;
    }
    .leftbuttons img{
      margin-right: -2vw; 
      margin-bottom: -1vh;
    }
    .righthero{
      margin-top: 2vw;
    }
    .horizon{
      margin-top: 8vh;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
    }


  <div class="col-md-12 wow fadeInUp">
    <div class="section-heading text-center pb-65"></div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center flex-align justify-center wow fadeInLeft">
    <div class="work-box">
      <img alt="Work Process" class="rotation-img" src="images/logo.png" />
    </div>
  </div>

    .morethan{
      width: 619px;
      height: 174px;
      margin-left: 7vw;
      margin-top: 2vh;
      font-family: 'Space Grotesk';
      display: flex;
      /*gap: 10vw;*/
    }
    .morethan h6{
      font-size: 64px;
      line-height: 82px;
      font-size: 50px;
      margin-top: 2vw;
    }
    .rightconts{
      display: flex;
      gap: 2vw;
    }
    .leftmorethan h5{
      line-height: 26px;
      font-size: normal;
      font-weight: 500;
      line-height: 20px;
      margin-top: -8vw;
    }
    .rightmorethan{
      margin-top: 2vw;
    }

    .rightimg{
      text-align: center;
      width: 57px;
      height: 50px;
      background: #DF3B56;
      border-radius: 10px;
      margin-top: 2vh;
      margin-bottom: 10vh;
    }
    .rightimg img{
      margin-top: 1vh;
    }
    
    
}


    
